name: Build x86-64 24.10

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Set up ImageBuilder
      run: |
        docker pull immortalwrt/imagebuilder:x86-64-24.10

    - name: Build Firmware
      run: |
        docker run --rm \
          -v ${{ github.workspace }}/x86-64/24.10:/home/build/immortalwrt \
          -v ${{ github.workspace }}/files:/home/build/immortalwrt/files \
          -v ${{ github.workspace }}/x86-64/imm.config:/home/build/immortalwrt/.config \
          immortalwrt/imagebuilder:x86-64-24.10 \
          bash build.sh

    - name: Upload Firmware
      uses: actions/upload-artifact@v3
      with:
        name: x86-64-firmware
        path: bin/targets/x86/64/
