name: Build x86-64 ImmortalWrt 24.10

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Pull ImageBuilder
      run: |
        docker pull immortalwrt/imagebuilder:x86-64-openwrt-24.10

    - name: Prepare Build Environment
      run: |
        mkdir -p ib
        cp x86-64/imm.config ib/.config
        cp x86-64/24.10/build.sh ib/build.sh
        chmod +x ib/build.sh
        cp -r files ib/files

    - name: Build Firmware
      run: |
        docker run --rm \
          -v ${{ github.workspace }}/ib:/home/build/immortalwrt/common_ib \
          -w /home/build/immortalwrt \
          immortalwrt/imagebuilder:x86-64-openwrt-24.10 \
          bash -c "cp common_ib/.config .config && bash common_ib/build.sh"

    - name: Upload Firmware
      uses: actions/upload-artifact@v4
      with:
        name: x86-64-firmware
        path: ib/bin/targets
